.wrapper{
    width: 100%;
    height: 100%;
    padding-left: 90px;
    padding-top: 10vh;
    background-color: #f3f3f3;
    
}
.stick-separate{
    width: 100%;
    height: 1px;
    background-color: #c49999;
    border: 1px solid #c49999;
    margin-top: 10px;
}
.left-side{
    padding: 20px;
    width: 60vw;

}

.video-wrapper{
   z-index: -10;
   
}
.video-title{
    font-size: 24px;
}
.video-contact{
    display: flex;
    position: relative;
    margin-top: 16px;
}
.video-view{
    font-weight: 200;
    font-size: 16px;
    margin: 0 4px;
}
.video-upload-date{
    margin: 0 12px;
    font-weight: 200;
    font-size: 16px;
    
}
.video-like,.video-share,.video-playlist-save{
    position: absolute;
    right: 0;
    font-size: 16px;
    opacity: 0.6;
}
.video-like:hover,.video-share:hover,.video-playlist-save:hover{
    opacity: 1;
    cursor: pointer;
}
.video-like{
    right: 160px;

}
.number-of-like{
    
}
.video-share{
    right: 80px;
}
.video-playlist-save{
    
}

/* user of video */
.infomation-video-maker{
    position: relative;
    height: 100px;
    margin: 12px;
}
.video-maker-avt{
    position: absolute;
    left: 0;
    width: 60px;
    height: 60px;

}
.video-maker-username{
    position: absolute;
    left: 80px;
}
.subcriber{
    position: absolute;
    top: 30px;
    left: 80px;

}
.subcribe-btn{
    position: absolute;
    right: 0;
}
/* decription */
.video-description{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
    padding: 5px;
    transition: 0.6s linear;
    margin-bottom: 12px;

}
.video-description:hover{
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    padding: 5px;

}

.details-description{
   
}
.line-clamp{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}
.none-line-clamp{
    display: -webkit-box;
    -webkit-line-clamp: none;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}
/* comment */
.comment-box{
    padding: 12px;
    position: relative;
    height: 200px;
}

.body-user-comment{
    display: block;
}

.user-avt,.comment-other-user-avt{
    position: absolute;
    left: 0;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}   
.user-name,.comment-other-user-name{
    position: absolute;
    left: 80px;
    font-size: 16px;
}
.comment-input{
    position: absolute;
    width: 80%;
    height: 50px;
    font-size: 16px;
    top: 60px;
    left: 80px; 
    padding: 5px;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    background-color: #f3f3f3;


}
.comment-btn{
    position: absolute;
    right: 0;
    bottom: 0;
}

/* other comment */
.comment-list{
    position: relative;
    height: auto;
    /* display: flexbox;  */
       
}

.comment-others{
    padding: 12px;
    margin: 12px 0 ;
    position: relative;
    height: auto;   
}

.comment-details{
    position: relative;
    width: 80%;
    height: auto;
    top: 40px;
    left: 80px;
    padding: 5px;
    font-weight: 300;
    border-radius: 20px;
}
