@import url('https://fonts.googleapis.com/css2?family=Marhey:wght@300&family=Oswald:wght@300;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
    list-style: none;
    text-decoration: none;
}
:root{
    --backgournd: #fff;
    --icon-color: #B08D8D;

}
