.icon{
    padding: 10px 0 10px 10px;
}
.upload-body{
    width: 100%;
    height: 800px;
    padding-left: 90px;
    padding-top: 10vh;
    background-color: white;
    
  
}
.upload-title{
    text-align: center;
    margin-top: 20vh;
}
.upload-btn{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 20vh;
}
.video-list{
   
}
.edit{
   position: absolute;
   top: 12px;

}
.btn{
    cursor: pointer;
    position: relative;
    
    padding: 0.5rem 2.5rem;
    font-size: 16px;
    text-transform: uppercase;
    border-radius: 18px;
    border: 3px solid #E82F2F;
    background-color: #E82F2F;
    color:#fff ;
    transition: .4s ease;
    z-index: 99;
}
.btn:hover{
    z-index: 1;
    border-color: transparent;
    background: linear-gradient(
        90deg,
        #f9d923,
        #00a19d,
        #0c97b7,
        #cb49ff,
        #ff6666,
        #f9d923
    );
    background-size: 400%;
    box-shadow: 0 0 15px rgb(2,4,24);
    animation: glow 12s linear forwards;

}
@keyframes glow{
    from{
        background-position: 0%;
    }
    to{
        background-position: 400%;
    }
}
.btn::before{
    content:'';
    position: absolute;
    top: -1px;
    right: -1px;
    bottom: -1px;
    left: -1px;
    background: inherit;
    filter: blur(36px);
    z-index: -1;
    opacity: 0;
    transition: .4s ease-out;
}
.second-btn {
    background-color: #e58484 !important;
    border: transparent !important;
    color: #fff;
    
}
/* setting */
.setting{
    display: none;
    transition-delay: 0.3s;
}
/* LEFT SIDE */
.left-side-setting{
    height: 100vh;
    width: 60vw;
    padding-left: 3vw;
}
.left-side-setting>h2{
    margin-bottom: 20px;
}
#title-video{
    width: 560px;
    height: 30px;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    margin-bottom: 12px;
}
.no-outline:focus {
    outline: none;
}
#description-video{
    width: 560px;
    padding: 4px;
}
#playlist-select{
    width: 100px;
    background-color: #d03b3b;
    color: white;
    margin-bottom: 12px;
}

.right-side-setting{
    padding-top: 20px;
    

}

.right-side-setting>label{
    margin-bottom: 12px;
}
.checbox-title{
   
}

#public-mode,#private-mode{
    padding: 20px;
    background-color: #d03b3b;
    font-size: 2rem;
}
.mode-note{
    font-size: 16px;
    font-weight: 200;
}
.thumnails-upload-title{
    margin: 12px 0;
}
.thumbnails{
    width: 360px;
    height: 260px;
    margin: 12px 0 8px 0;
    object-fit: scale-down;
}
.thumbnails>img{
    width: 100%;
    height: 100%;
}
.save-for-all{
    margin: 100px 30px  ;
    position: absolute;
    right: 70px;
}


